html, body {
  height: 100%;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
    flex-direction: column;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
	font-family: 'Open Sans', sans-serif;
    color: #757575;
	-webkit-font-smoothing: antialiased;
}

header {
	background: url(img/hero.png) 50% no-repeat;
    background-size: cover;
    padding: 46px 0;
	color: white;
	margin: 0;
}

button {
	border: none;
	user-select: none;
	outline: none;
	background: none;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	color: #757575;
	font-size: 12px;
	height: 100%;
	transition: all .3s;
}

button:hover, button:active {
	color: white;
	background-color: #a12263;
}

a {
	text-decoration: none;
	color: #a12263;
}

a:hover, a:active {
	color: #a12263;
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	font: 400 36px/150% Amatic SC, sans-serif;

}

#colorDisplay {
	font-weight: 700;
	font-size: 76px;
}

.controls {
	height: 40px;
	text-align: center;
	margin-bottom: 24px;
	background: white;
}

.controls span {
	display: inline-block;
	width: 16%;
}

#board {
	padding: 24px;
	background: white;
	width: 640px;
	max-width: 100%;
	margin: 0 auto 24px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#messageDisplay {
	color: inherit;
	font-size: 12px;
	text-transform: uppercase;
}

.card {
	width: 25%;
	height: 80px;	
	margin: 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: all ease-in-out .2s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.hide {
	opacity: 0;
}

.content {
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}


/* EFFECTS */
/* Ripple effect */
.ripple {
	background-position: center;
	transition: background .8s;
}
.ripple:hover {
	background: #a12263 radial-gradient(circle, transparent 1%, #a12263 1%) center/15000%;
}
.ripple:active {
	background-color: #FCE4EC;
	background-size: 100%;
	transition: background 0s;
}

.selected {
	background-color: #a12263;
	color: white;
}

footer {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	padding: 24px;
	background: white;
}

.design-credits {
	font-size: 12px;
}

/* MEDIA Q's */
@media only screen and (max-width: 732px) {
	#board {
		width: 340px;
		padding: 14px;
	}

	.card {
		width: 20%;
		height: 60px;
	}

	.main-title {
		font-size: 24px;
	}

	 #colorDisplay {
	 	font-size: 34px;
	 }

	header {
		padding: 24px 0;
	}


}