body {
	margin: 0;
	box-sizing: border-box;
	background: #006064;
	transition: all .3s ease-in-out;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

header {
	background: url(img/hero.png) 50% no-repeat;
    background-size: cover;
    padding: 46px 0;
	color: white;
	margin: 0;
}

button {
	border: none;
	user-select: none;
	outline: none;
	background: none;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	color: #757575;
	height: 100%;
	transition: all .3s;
}

button:hover, button:active {
	color: white;
	background-color: #a12263;
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	font: 400 36px/150% Amatic SC, sans-serif;

}

#colorDisplay {
	font-weight: 700;
	font-size: 76px;
}

.controls {
	height: 40px;
	text-align: center;
	margin-bottom: 24px;
	background: white;
}

.controls span {
	display: inline-block;
	width: 20%;
}

#board {
	padding: 24px;
	background: white;
	max-width: 450px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#messageDisplay {
	color: inherit;
}

.card {
	width: 25%;
	height: 80px;	
	margin: 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: all ease-in-out .2s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.hide {
	opacity: 0;
}


/* EFFECTS */
/* Ripple effect */
.ripple {
	background-position: center;
	transition: background .8s;
}
.ripple:hover {
	background: #a12263 radial-gradient(circle, transparent 1%, #a12263 1%) center/15000%;
}
.ripple:active {
	background-color: #FCE4EC;
	background-size: 100%;
	transition: background 0s;
}

.selected {
	background-color: #a12263;
	color: white;
}

footer {
	text-align: center;
	color: #757575;
	text-transform: uppercase;
	font-size: 14px;
}