body {
	margin: 0;
	box-sizing: border-box;
	background: #006064;
	transition: all .3s ease-in-out;
}

button {
	border: none;
	outline: none;
	background: none;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	color: gray;
	height: 100%;
	transition: all .3s;
}

button:hover, button:active {
	color: white;
	background: steelblue;
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	background: steelblue;
	color: white;
	padding: 20px 0;
	margin: 0;
	transition: background .3s ease-in-out;
}

.controls {
	height: 40px;
	text-align: center;
	margin-bottom: 24px;
	background: white;
}

.controls span {
	display: inline-block;
	width: 20%;
}

#board {
	padding: 24px;
	background: white;
	max-width: 450px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#messageDisplay {
	color: inherit;
}

.card {
	width: 25%;
	height: 80px;	
	margin: 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: all ease-in-out .2s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.hide {
	opacity: 0;
}


/* EFFECTS */

.selected {
	background-color: steelblue;
	color: white;
}