* {
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
    flex-direction: column;
	transition: all .3s ease-in-out;
	font-family: 'Open Sans', sans-serif;
    color: #757575;
	-webkit-font-smoothing: antialiased;
}

header {
	background: url(../img/hero.png) 50% no-repeat;
    background-size: cover;
    padding: 46px 0;
	color: white;
	margin: 0;
}

button {
	border: none;
	padding: 8px 10px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	outline: none;
	background: none;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	color: white;
	font-size: 14px;
	height: 100%;
	transition: all .2s linear;
	border-radius: 2px;
}

button:hover, button:active {
	color: white;
	background-color: #a12263;
}

a {
	text-decoration: none;
	color: #dc2776;
	transition: color .3s ease-in-out;
}

a:hover, a:active {
	color: #a12263;
}

img {
	max-width: 100%;
}

footer {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	padding: 24px;
	background: white;
}

.design-credits {
	font-size: 12px;
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	font: 400 36px/150% Amatic SC, sans-serif;

}

#colorDisplay {
	font-weight: 700;
	font-size: 76px;
}

.controls {
	padding: 8px;
	border-top: 4px solid #a12263;
	border-bottom: 4px solid #a12263;
	text-align: center;
	margin-bottom: 24px;
	background: #381842;
}

#board {
	padding: 24px;
	background: white;
	width: 640px;
	max-width: 100%;
	margin: 0 auto 24px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card {
	width: 10%;
    height: 66px;	
	margin: 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: all ease-in-out .2s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-webkit-transform: rotate(5deg);
	        transform: rotate(5deg);
}

.intro-text {
	text-align: center;
	color: white;
	font-size: 14px;
}

.modal {
	z-index: 1000;
	position: fixed;
	-webkit-animation: fadeIn 1s;
	        animation: fadeIn 1s;
	margin: 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 4px;
    max-width: 450px;
    width: 100%;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.modal-header-title {
	font-size: 24px;
    font-weight: 400;
    margin: 0;
    color: white; 
    padding: 16px;
    background: #a12263;
}

.modal-body {
	padding: 16px;
}

.modal-body-result {
	display: flex;
    flex-flow: row wrap;
    font-size: 14px;
}

.modal-body-result p {
	margin: 0 0 8px 0;
	width: 126px;
	text-transform: uppercase;
    font-weight: 600;
    opacity: .4;
}

.modal-action {
	padding: 16px;
	background: #FAFAFA;
}

.btn-cta {
	background-color: rgb(16, 228, 125);
	font-size: 18px;
}

.btn-close {
	font-size: 24px;
    position: absolute;
    top: 16px;
    color: white;
    right: 16px;
}

.btn-close:hover {
	color: white;
}

.content {
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.rgb-color-model {
	width: 64px;
}

#pickedColor-square {
    width: 20px;
    height: 20px;
    margin-left: 16px;
    border-radius: 50%;
}

/* EFFECTS */
/* Ripple effect */
.ripple {
	background-position: center;
	transition: background .8s;
}

.ripple:hover {
	background: #a12263 radial-gradient(circle, transparent 1%, #a12263 1%) center/15000%;
}

.ripple:active {
	background-color: #FCE4EC;
	background-size: 100%;
	transition: background 0s;
}

.hide {
	opacity: 0;
}

.selected {
	background-color: #a12263;
}

.overlay {
	position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

/* ANIMATIONS */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* MEDIA Q's */
@media only screen and (max-width: 732px) {
	#board {
		width: 340px;
		padding: 14px;
	}

	.card {
		width: 20%;
		height: 60px;
	}

	.main-title {
		font-size: 24px;
	}

	 #colorDisplay {
	 	font-size: 34px;
	 }

	header {
		padding: 24px 0;
	}

	button, .intro-text, footer {
		font-size: 12px;
	}

	.design-credits {
		font-size: 10px;
	}
}